.content {
    display: flex;
    height: 650px;
    width: 700px;
}

button {
    border-radius: 0;
    border: none;
    transition: .7s;
}

button:hover {
    background-color: #999999;
    transition: .7s;
}

.carousel-item {
    margin: 0;
}